// Overrides Neat's default
$max-width: em(1024);

// Breakpoints
$mobile: new-breakpoint(max-width 500px 4);

$visual-grid-color: lighten(#FFF0E8, 3%);

$base-border-radius: 3px !default;
$dark-gray: #333 !default;
$large-screen: 53.75em !default;
$base-font-color: $dark-gray !default;
$centered-navigation-padding: 1em;
$centered-navigation-logo-height: 2em;
$centered-navigation-background: #E7F1EC;
$centered-navigation-color: transparentize($base-font-color, 0.3);
$centered-navigation-color-hover: $base-font-color;
$centered-navigation-item-padding: 1em;
$centered-navigation-submenu-padding: 1em;
$centered-navigation-submenu-width: 12em;
$centered-navigation-item-nudge: 2.2em;
$horizontal-bar-mode: $large-screen;

$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$large-screen: 53.75em !default;
$base-font-color: $dark-gray !default;
$pagination-border-color: $base-border-color;
$pagination-border: 1px solid $pagination-border-color;
$pagination-background: lighten($pagination-border-color, 10);
$pagination-hover-background: lighten($pagination-background, 5);
$pagination-color: $base-font-color;
$primary:#00a94f;
$white:#ffffff;
$black:#000000;
$navigation-height: 50px;


$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-background-color: white !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$medium-gray: #999 !default;
$light-gray: #DDD !default;
$medium-screen: 40em !default;
$breadcrumb-border-color: $base-border-color;
$breadcrumb-border: 1px solid $breadcrumb-border-color;
$breadcrumb-height: $base-spacing * 1.5;
$breadcrumb-arrow-color: $breadcrumb-border-color;
$breadcrumb-background: $base-background-color;
$breadcrumb-inactive-hover-color: $breadcrumb-background;
$breadcrumb-color: $medium-gray;
$breadcrumb-color-hover: $action-color;
$breadcrumb-color-active: $breadcrumb-color;

$x_small:360px;
$small:480px;
$medium:600px;
$large:768px;
$x_large:1080px;
$xx_large:1240px;


$breakpoints: (
  xs: $x_small,
  s: $small,
  m: $medium ,
  l:$large,
  xl:$x_large,
  xll:$xx_large
);

$baseFontSize: 18;
$baseLineHeight: 1.5;
$leading: $baseLineHeight * 1rem;
$scale: 1.114;

// Our function for shorter usage of map-get();
@function bp($size) {
  @return map-get($breakpoints, $size);
}
// colours
$primary:#5BBC2E;;
$secondary:#bc3a2e;
$white:#ffffff;
$text:#212121;
$grey:#d2d2d2;
$black:#373737;


// Hover Duration 
$hover-duration: 0.4s;
// Paragraph Slides 
$duration: 1s;
$ease: cubic-bezier(.6,.0,.2,1);
$offsetSize: 10%;
$contentOffset: $offsetSize * 1.4;
/* @offsetSize * 2 means the content won't appear to move at all. Set to
 * a lower value for squishing effects. */

$textColour: #FFF;
$overlayColour: #000;
$highlightColour: #FFC12D;
$borderColour: $highlightColour;

