// Overrides Neat's default
$max-width: em(1024);

// Breakpoints
$mobile: new-breakpoint(max-width 500px 4);

$visual-grid-color: lighten(#FFF0E8, 3%);

$base-border-radius: 3px !default;
$dark-gray: #333 !default;
$large-screen: 53.75em !default;
$base-font-color: $dark-gray !default;
$centered-navigation-padding: 1em;
$centered-navigation-logo-height: 2em;
$centered-navigation-background: #E7F1EC;
$centered-navigation-color: transparentize($base-font-color, 0.3);
$centered-navigation-color-hover: $base-font-color;
$centered-navigation-item-padding: 1em;
$centered-navigation-submenu-padding: 1em;
$centered-navigation-submenu-width: 12em;
$centered-navigation-item-nudge: 2.2em;
$horizontal-bar-mode: $large-screen;

$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$dark-gray: #333 !default;
$large-screen: 53.75em !default;
$base-font-color: $dark-gray !default;
$pagination-border-color: $base-border-color;
$pagination-border: 1px solid $pagination-border-color;
$pagination-background: lighten($pagination-border-color, 10);
$pagination-hover-background: lighten($pagination-background, 5);
$pagination-color: $base-font-color;
$primary:#00a94f;
$white:#ffffff;
$navigation-height: 50px;


$base-border-color: gainsboro !default;
$base-border-radius: 3px !default;
$base-background-color: white !default;
$base-spacing: 1.5em !default;
$action-color: #477DCA !default;
$medium-gray: #999 !default;
$light-gray: #DDD !default;
$medium-screen: 40em !default;
$breadcrumb-border-color: $base-border-color;
$breadcrumb-border: 1px solid $breadcrumb-border-color;
$breadcrumb-height: $base-spacing * 1.5;
$breadcrumb-arrow-color: $breadcrumb-border-color;
$breadcrumb-background: $base-background-color;
$breadcrumb-inactive-hover-color: $breadcrumb-background;
$breadcrumb-color: $medium-gray;
$breadcrumb-color-hover: $action-color;
$breadcrumb-color-active: $breadcrumb-color;


