@import "bourbon/bourbon";

$visual-grid: false!default;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.3;

$grid-columns: 12 !default;



//@import "base/base";


$base-spacing: 1.5em !default;
$messages: (
  "warning": #fff6bf,
  "error": #fbe3e4,
  "status": #e6efc2,
) !default;



@import "neat";
@import "variables";
@import "maps";
@import "lib/mixins";
@import "lib/functions";

// Needs to be below function
$core-buttons: (
  color:               $white,
  background-color:    colour(primary),
  border-color:        colour(primary, darkest),
  background-hover:    colour(primary, light),
  border-color-hover:  colour(primary, lightest),
  background-active:   #c7c7c7,
  border-color-active: #a60056,
  border-radius:      0px,
);


@import "base/**/*";
@import "components/**/*";

@import "reset";
@import "typography";


// Enter Neat
.menu-nav {
	display:none;
}
.parallax {

		 /* Set a specific height */
    height: 500px; 

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
