@import "bourbon/bourbon";

$visual-grid: false!default;
$visual-grid-color: yellow;
$visual-grid-index: front;
$visual-grid-opacity: 0.3;

$grid-columns: 12 !default;



//@import "base/base";


$base-spacing: 1.5em !default;
$messages: (
  "warning": #fff6bf,
  "error": #fbe3e4,
  "status": #e6efc2,
) !default;



@import "neat";
@import "variables";
@import "maps";
@import "core/**/*";
@import "base/**/*";
@import "components/**/*";

@import "reset";
@import "typography";


// Enter Neat
.menu-nav {
	display:none;
}


