.localtask{
  margin-top: -1rem;
}

.localtask__lvl1{ }

/* horizontal tabs lvl 1*/
ul.tabs-horizontal {
  padding-left: 3rem;
}
.tabs-horizontal li{
  border:1px solid #fff;
  background-color: rgba(255,255,255,0.8);
  margin: 0;
  overflow: hidden;
  min-width: 7rem;
}
.tabs-horizontal li.is-active{
  border:1px solid #E5E5E5;
  background-color: white;
  border-bottom: 1px solid white;
  margin: -2px 0 -1px 0 ;
}
.tabs-horizontal li a{
  display: block;
  padding: 0 1rem 0 0;
  line-height: 2.3rem;
  color: #364F67;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.tabs-horizontal li.is-active a{
  color: #1397CB;
}
.tabs-horizontal li a:before{
  display: block;
  float:left;
  width: 1.8rem;
  height: 2rem;
  background-color: #F2F2F2;
  margin: 2px 1rem 0 2px;
  content: "";
}
.tabs-horizontal li.is-active a:before{
  background-color: #F4F4F4;
  margin: 3px 1rem 0 3px;
}

.tabs-horizontal li a:hover{
  text-decoration: none;
  color: #00B3BA;
  background: white;
}
.tabs-horizontal li a:hover:before{
  background-color:  #F9F9F9;
}
/* icons */

/*-- lvl2 --------------------------------------------------------------------*/

.localtask__lvl2{
  background: white;
  border-bottom: 1px solid #E5E5E5
}

.tabs-horizontal-lvl2{
  padding-left:3rem;
}

.tabs-horizontal-lvl2 li{
  line-height: 2rem;
  color: #019096;
  font-family: Lato, sans-serif;
  font-weight: bold;
  font-size: 0.75rem;
  text-transform: uppercase;
}
.tabs-horizontal-lvl2 li a{
  color: #1397CB;
  padding: 0 0.5rem;
  border-left: 1px solid #E5E5E5
}

.tabs-horizontal-lvl2 li a:before{
  display: block;
  float:left;
  width: 2rem;
  height: 2rem;
  content: "";
  opacity: 0.8;
}
.tabs-horizontal-lvl2 li:last-child a{
  border-right: 1px solid #E5E5E5
}
.tabs-horizontal-lvl2 li a:hover{
  background:#fcfcfc;
  color: #00B3BA;
  text-decoration: none
}
.tabs-horizontal-lvl2 li.is-active a{
  background-color: #f9f9f9;
  border-bottom: 1px solid #0080AD;
  color: #0080AD;
}


/*-- icons galore ------------------------------------------------------------*/
.localtask__lvl1 li a:before,
.localtask__lvl2 li a:before{
  background-image: url(icons/localtask.svg);
  background-repeat: no-repeat;
  background-size: 1rem;
  background-position: center center;
}
/*content*/
.localtask__lvl1 li a[href="/admin/content"]:before{
  background-image: url(icons/content.svg);
}
/*comments */
.localtask__lvl1 li a[href="/admin/content/comment"]:before{
  background-image: url(icons/comments.svg);
}
.localtask__lvl2 li a[href="/admin/content/comment"]:before{
  background-image: url(icons/comments-published.svg);
}
.localtask__lvl2 li a[href="/admin/content/comment/approval"]:before{
  background-image: url(icons/comments-unpublished.svg);
}
/*files */
.localtask__lvl1 li a[href="/admin/content/files"]:before{
  background-image: url(icons/files.svg);
}

/*apperance*/
.localtask__lvl1 li a[href="/admin/appearance"]:before{
  background-image: url(icons/theme-list.svg);
}
.localtask__lvl1 li a[href="/admin/theme/update"]:before{
  background-image: url(icons/theme-update.svg);
}
.localtask__lvl1 li a[href="/admin/appearance/settings"]:before{
  background-image: url(icons/theme-settings.svg);
}
.localtask__lvl2 li a[href^="/admin/appearance/settings"]:before{
  background-image: url(icons/theme-settings-theme.svg);
}

/*modules*/
.localtask__lvl1 li a[href="/admin/modules"]:before{
  background-image: url(icons/module.svg);
}
.localtask__lvl1 li a[href="/admin/modules/update"]:before{
  background-image: url(icons/module-update.svg);
}
.localtask__lvl1 li a[href="/admin/modules/uninstall"]:before{
  background-image: url(icons/module-uninstall.svg);
}

/*people*/
.localtask__lvl1 li a[href="/admin/people"]:before{
  background-image: url(icons/people.svg);
}
.localtask__lvl1 li a[href="/admin/people/permissions"]:before{
  background-image: url(icons/people-permission.svg);
}
.localtask__lvl1 li a[href="/admin/people/roles"]:before{
  background-image: url(icons/people-roles.svg);
}

/* block*/
.localtask__lvl1 li a[href="/admin/structure/block"]:before{
  background-image: url(icons/block.svg);
}
.localtask__lvl2 li a[href^="/admin/structure/block"]:before{
  background-image: url(icons/block.svg);
}

.localtask__lvl1 li a[href="/admin/structure/block/block-content"]:before{
  background-image: url(icons/block-custom.svg);
}
.localtask__lvl2 li a[href^="/admin/structure/block/block-content"]:before{
  background-image: url(icons/block-custom.svg);
}

/* comments */
.localtask__lvl1 li a[href="/admin/structure/comment/manage/comment"]:before{
  background-image: url(icons/comment-type.svg);
}
.localtask__lvl1 li a[href="admin/structure/comment/manage/comment/fields"]:before{
  background-image: url(icons/comment-type.svg);
}
.localtask__lvl1 li a[href="/admin/structure/comment/manage/comment/form-display"]:before{
  background-image: url(icons/comment-type.svg);
}
.localtask__lvl1 li a[href="/admin/structure/comment/manage/comment/display"]:before{
  background-image: url(icons/comment-type.svg);
}

/*contact forms*/

.localtask__lvl1 li a[href*="/admin/structure/contact/"]:before{
  background-image: url(icons/mailform.svg);
}
/*@TODO make a better selection this can easy be overwritten */
.localtask__lvl1 li a[href$="/form-display"]:before{
  background-image: url(icons/display-form.svg);
}
.localtask__lvl1 li a[href$="/display"]:before{
  background-image: url(icons/display-manage.svg);
}







/* taxonomy*/
.localtask__lvl1 li a[href="/admin/structure/taxonomy/manage/tags/overview"]:before{
  background-image: url(icons/tags.svg);
}
.localtask__lvl1 li a[href="/admin/structure/taxonomy/manage/tags"]:before{
  background-image: url(icons/tags.svg);
}
.localtask__lvl1 li a[href="/admin/structure/taxonomy/manage/tags/overview/fields"]:before{
  background-image: url(icons/tags.svg);
}
.localtask__lvl1 li a[href="/admin/structure/taxonomy/manage/tags/overview/form-display"]:before{
  background-image: url(icons/tags.svg);
}
.localtask__lvl1 li a[href="/admin/structure/taxonomy/manage/tags/overview/display"]:before{
  background-image: url(icons/tags.svg);
}
