.parallax {
  /* Set a specific height */
  //height: 500px;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.paragraph--type-banner {
	.field--name-field-text {
		//background:yellow;
		//@include jagged(ccc, 16, top, fill, inside);
		//background-color: transparent;
  	//padding: 20px;
		//margin-bottom:40px;
	}
}
