.parallax {
	min-height:350px;

  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
.field--name-field-content {
}
.paragraph--type-banner {
	.paragraph--type-content {
		min-height:350px;
		height:100%;
		@include display(flex);
  	@include flex-direction(column);
  	@include justify-content(space-around);
		height:100%;
		h2, .field--name-field-text {
			p {
				margin-bottom:em(20px);
			}
		}
	}
}
