#footer-menus {
	background:colour(black);
  border-top: solid 7px colour(black, darkest);
  h2 {
    padding: 10px 0 5px 0;
    color: #fff;
    margin-bottom: em(0px);
    margin-top: em(0px);
    text-align:center;
  }
  li {
    text-align:center;
  }
  a {
    color:colour(primary);
    text-transform:uppercase;
  }
}
.footer-social-section {
  margin-top: 5px;
	&::after {
    border-top: 1px solid #ccc;
	}
}
.footer-social-overlap {
  position: relative;
  background: #373737;
  padding: 0 20px;
}
.footer-social-small {
  font-size: 0.6em;
  padding: 0px 20px;
}
.footer-social-connect {
  font: 1.5em "Oswald", sans-serif;
  color: #fff;
	@include media(bp(xl)) {
    font-size:2.5em;
    padding: 0 em(20px);
	}
}
.footer-social-icons-wrapper {
  padding: 0;
	@include media(bp(xl)) {
    padding: 0 em(20px);
  }
}
.footer-bottom-section {
  width: 100%;
  padding-bottom: em(10px);
  border-top: 1px solid #ccc;
  margin-top: 10px;
}
.footer-bottom-wrapper {
  font-size: em(14px);
  text-align:center;
  margin-top: em(10px);
  color: #fff;
}
.footer-address {
  display: inline;
  font-style: normal;
}
