thead th {
  background: $grey;
  border: solid $black;
  border-width: 1px 0;
  color: #333;
  text-transform: uppercase;
}
tr {
  border-bottom: 1px solid $black;
}
thead > tr {
  border-bottom: 1px solid $black;
}
tbody tr:hover,
tbody tr:focus {
}
tbody tr.color-warning:hover,
tbody tr.color-warning:focus {
}
tbody tr.color-error:hover,
tbody tr.color-error:focus {
}
th.is-active > a {
}
