h2 {
	/*
  font-weight: bold;
  text-transform: uppercase;
  color: #fff;
  position: relative;
  margin-bottom: 15px;
  &:after {
  	position: absolute;
        height: 2px;
        background: $primary;
        display: block;
        content: '';
        bottom: 0;
        left: 0;
        right: 0;
      }
      a, span {
        color: #FFF;
        padding: 0 20px;
        background: $primary;
        font-weight: 700;
          }
	*/
}
a {
	color: colour(secondary);
}

