/* -- Messages from the system -----------------------------------------------*/
.messages {
  margin: 1rem auto;
  border:1px solid #1397CB;
  border-left: 0.5rem solid  #1397CB;
  width: 50rem;
  min-height: 10rem;
  background-color: #EDF4FE;
  transition: all 1s ease-out;
  opacity: 1;
}
.messages__close{
  float:right;
  width: 1rem;
  height: 1rem;
  display:block;
  color: white;
  background: url(icons/button-x.svg) no-repeat;
  background-size: 1rem;
  text-indent: -999px;
  margin: 0.5rem;
}
.messages--hide {
  height: 0;
  opacity: 0;
  min-height: 0;
}


.messages__content{
    padding: 2rem;
}

.messages a{
  color: white;
  text-decoration: underline;
}

.messages--status {

}

.messages--warning {
  background-color: #F5892F;
  border-color: #DC721B;
  color: white;
}

.messages--error {
  background-color: #E65738;
  border-color: #CD4424;
}

.messages + .messages {
}
.messages__list {
}



/*help message */
.message-help{
  border:1px solid #EDF4FE;
  padding: 1rem;
  margin-top: 1rem;
}
.message-help__content{
  font-size: 1rem;
  color: #1397CB;
}
