.localtask__level_1 {
	margin-bottom: em(10px);
	ul.tabs-horizontal {
		height: 2.25em;
		overflow: hidden;
		z-index: 10;
		position:relative;
		@include media(bp(l)) {
			@include display(flex);
			@include align-items(stretch);
		}
		li:not(.first) {
			 /*height: 50px;*/
			 @include flex(1);
		}
		li.is-active{
			@include order(-2);
		}
		&.clicked {
    	height: auto;
		}
		svg {
			padding:em(6px);
			path {
      	fill: $white;
			}
		}
		a {
			//color: $white;
			display:table;
			padding:0 em(10px) 0 0;
		}
		span {
			display:table-cell;
			width:100%;
			vertical-align: middle;
		}
	}
}
