.menu--main {
	float:left;
}
.menu--account {
	float:right;
}
.menu--main, .menu--account {
	ul.menu {
		@include display(flex);
	}
	.avatar {
		@include border-top-radius(25px);
		@include border-right-radius(25px);
		@include border-bottom-radius(25px);
		@include border-left-radius(25px);
		max-width: 50px;
		max-height: 50px;
		height:$navigation-height;
		width:$navigation-height;
		padding:5px;
		vertical-align: middle;
	}
	li {
		line-height:$navigation-height;			
		position:relative;
	}
	a {
  	display: block;
    margin: 0.333333em 0.75em;
    line-height: $navigation-height;
	}
	ul.menu ul {
		position:	absolute;
		display:none;
		right:0px;
		z-index:2;
		a {
			line-height:20px;
		}
		li {
			line-height:20px;			
			white-space: nowrap;
			display:block;
		}
	}
}
// Submenus 
.menu--account, .menu--main {
	li {
		&:hover ul {
			@include display(flex);
     	@include flex-direction(column);
      z-index:2;
		}
	}
}
.search-block-form {
  position: relative;
  text-align: right;
  z-index: 4;
  line-height: $navigation-height;
  form {
		line-height:$navigation-height;
		height:60px;
    position: absolute;
    right: 60px;
  }
  input[type="search"] {
    border: none;
    outline: 0;
    padding: .5em .75em;
		display:none;
    outline: 0;
  }
  input[type="image"] {
    margin: 0.333333em 0.75em;
		height:$navigation-height;
    width:$navigation-height;
    border:0px;
		line-height: $navigation-height;
    vertical-align: middle;
  }
}
// Search Navigation
.search-expanded {
	.form-type-search {
    width: 15em;
    transition: width 3s;
	}
	.search-block-form {
		input[type="search"] {
      display: inline;
		}
	}
}

