.menu--main {
	float:left;
}
.menu--account {
	float:right;
}
.menu--main, .menu--account {
	ul.menu {
		@include display(flex);
	}
	li {
		line-height:$navigation-height;			
		position:relative;
	}
	a {
  	display: block;
    margin: 0.333333em 0.75em;
    line-height: $navigation-height;
	}
	ul.menu ul {
		position:	absolute;
		display:none;
		z-index:2;
		a {
			line-height:em(20px);;
		}
		li {
			line-height:em(20px);			
			white-space: nowrap;
			margin-top:em(10px);
			margin-bottom: em(10px);
			display:block;
			z-index:10;
		}
	}
}
.menu--main {
	ul.menu ul {
		left:0px;
	}
}
.menu--account {
	ul.menu ul {
		right:0px;
	}
}
// Submenus 
.menu--account, .menu--main {
	li {
		&:hover ul {
			background:$white;
			@include display(flex);
     	@include flex-direction(column);
      z-index:20;
		}
	}
}
header .search-block-form {
  position: relative;
  text-align: right;
  z-index: 4;
  line-height: $navigation-height;
  form {
		line-height:$navigation-height;
		height:60px;
    position: absolute;
    right: 60px;
  }
  input[type="search"] {
    border: none;
    outline: 0;
    padding: .5em .75em;
		display:none;
    outline: 0;
  }
}
// Icons
.menu--main, .menu--account, header .search-block-form {
	.avatar,  input[type="image"] {
    @include border-top-radius(em(25px));
    @include border-right-radius(em(25px));
    @include border-bottom-radius(em(25px);
    @include border-left-radius(em(25px));
    max-width: 50px;
    max-height: 50px;
    height:$navigation-height;
    width:$navigation-height;
    padding:5px;
    vertical-align: middle;
	}
	input[type="image"] {
    margin: 0.333333em 0.75em;
	}
}
// Search Navigation
.search-expanded {
	.form-type-search {
    width: 15em;
    transition: width 3s;
	}
	.search-block-form {
		input[type="search"] {
      display: inline;
		}
	}
}

