.container {
	margin-top:2em;
}
.page-container {
  @include outer-container;
}
header .page-container-fluid {
  @include outer-container;
}
.page-container-fluid .block-page-title-block,
.page-container-fluid .block-local-tasks-block,
.page-container-fluid .type-text-with-summary,
.page-container-fluid .block-system-breadcrumb-block,
.page-container-fluid  footer.node-footer, 
.field-container,
.field 
  {
  @include outer-container;
}
.page-container-fluid {
}
h2.node-title {
  @include outer-container;
}

.grid-items {
	@include fill-parent();
	//@include row(table);
	margin-top:em(10px);

	.grid-item-10 {
		@include span-columns(8);
		vertical-align: top;
	}
	.grid-item-2 {
		@include span-columns(4);
	}
}
ul.inline li {
	padding:0;
	margin-right:em(5px);
}
footer.footer {
	margin-top:2em;
}
