html {
  -webkit-font-smoothing: antialiased;
  font-family: serif;
  font-size: $baseFontSize / 16 * 100%;
}
a {
  text-decoration:none;
}
blockquote {
  line-height: $leading;
  margin-top: $leading;
  margin-bottom: $leading;
}
p {
  line-height: $leading;
  margin-top:0; 
  margin-bottom:$leading; 
}
ul, ol {
  margin-top: $leading;
  margin-bottom: $leading;
  li {
    line-height: $leading;
  }
  ul ol {
    margin-top: 0;
    margin-bottom: 0;
  }
}
// Headings
h1, h2, h3, h4, h5, h6 {
  //margin-top: $leading;
  margin-bottom: 0;
  line-height: $leading;
  font-family: "Oswald", sans-serif;
}

h1 {
  font-size: 2.3 * $scale * 1rem;
  line-height: 2.3 * $leading;
  margin-top: 2 * $leading;

}
h2 {
  font-size: 2 * $scale * 1rem;
  line-height: 2 * $leading;
  margin-top: 0.5 * $leading;
}
h3 {
  font-size: 1 * $scale * 1rem;
}
h4 {
  font-size: $scale / 2 * 1rem;
}
h5 {
  font-size: $scale / 3 * 1rem;
}
h6 {
  font-size: $scale / 4 * 1rem;
}
footer {
  ul, ol {
    margin:0px;
  }

}
/* Tables */
table {
  margin-top: $leading;
  border-spacing: 0px;
  border-collapse: collapse;
  td, th {
    padding: 0;
    line-height: $baseLineHeight * $baseFontSize - 0px;
  }
}

h1#site-title {
  margin:0px;
}
