.paragraph--type-banner {
	.paragraph--type-content {
		margin: em(20px) 0;	
	}
  h2 {
		text-align:center;
   font-size: 2.4rem;
   color: gold;
  }
	h2, p  {
   text-shadow:
     -1px -1px 0 #000,  
      1px -1px 0 #000,
      -1px 1px 0 #000,
       1px 1px 0 #000;

	}
  .field--name-field-text {
  }
}
.paragraph-colours--light {
	h2, .field--name-field-text {
		color:white;
	}
}

