.avatar {
  width: 32px;
  height: 32px;
}

.search {
  width: 32px;
  height: 32px;
}

.hmenu {
  width: 32px;
  height: 32px;
}

.circleup {
  width: 32px;
  height: 32px;
}

.googleplus {
  width: 32px;
  height: 32px;
}

.facebook {
  width: 32px;
  height: 32px;
}

.instagram {
  width: 32px;
  height: 32px;
}

.twitter {
  width: 32px;
  height: 32px;
}

.youtube {
  width: 32px;
  height: 32px;
}

.linkedin {
  width: 32px;
  height: 32px;
}

.pinterest {
  width: 32px;
  height: 32px;
}

