.pencil {
  width: 32px;
  height: 32px;
}

.avatar {
  width: 32px;
  height: 32px;
}

.userplus {
  width: 32px;
  height: 32px;
}

.usercheck {
  width: 32px;
  height: 32px;
}

.quotesleft {
  width: 32px;
  height: 32px;
}

.quotesright {
  width: 32px;
  height: 32px;
}

.search {
  width: 32px;
  height: 32px;
}

.key {
  width: 32px;
  height: 32px;
}

.wrench {
  width: 32px;
  height: 32px;
}

.bug {
  width: 32px;
  height: 32px;
}

.bin {
  width: 32px;
  height: 32px;
}

.tree {
  width: 32px;
  height: 32px;
}

.hmenu {
  width: 32px;
  height: 32px;
}

.circleup {
  width: 32px;
  height: 32px;
}

.circledown {
  width: 32px;
  height: 32px;
}

.googleplus {
  width: 32px;
  height: 32px;
}

.facebook {
  width: 32px;
  height: 32px;
}

.instagram {
  width: 32px;
  height: 32px;
}

.twitter {
  width: 32px;
  height: 32px;
}

.youtube {
  width: 32px;
  height: 32px;
}

.reddit {
  width: 32px;
  height: 32px;
}

.linkedin {
  width: 32px;
  height: 32px;
}

.pinterest {
  width: 32px;
  height: 32px;
}

